# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.swo
*.swp
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/

# Node.js artifacts
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git
.git/
.gitignore

# Docker
.dockerignore
docker-bake.hcl

# OS and editor files
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# App-specific
.env
.env.*

