# Kotlin build files
/build/
/out/

# IntelliJ IDEA files
.idea/
*.iml

# Gradle files
.gradle/
build/

# Virtual environments
venv/

# OS junk files
.DS_Store
Thumbs.db

# Logs
*.log

# Local configuration
*.local
*.env
