version: '3.8'

services:
  backend:
    build: ./backend
    container_name: flask_backend
    expose:
      - "5000"
    restart: always

  nginx:
    image: nginx:stable
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

