.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  max-width: 480px;
  aspect-ratio: 1 / 1;
  border: 2px solid #333;
  margin: 0 auto;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  cursor: pointer;
  user-select: none;
}

.square:nth-child(odd) {
  background: #eee;
}

.square:nth-child(even) {
  background: #999;
}

.selected {
  outline: 3px solid yellow;
}

.valid-move {
  background: #6f6 !important;
}
