.player-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  background: #111;
  color: #fff;
  border-bottom: 2px solid #333;
}

.player {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.player-white {
  color: #f5f5f5;
}

.player-black {
  color: #d4d4d4;
}

.player-name {
  margin-left: 6px;
}
