apiVersion: apps/v1
kind: Deployment
metadata:
  name: chess-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chess-db
  template:
    metadata:
      labels:
        app: chess-db
    spec:
      containers:
      - name: postgres
        image: postgres:latest
        env:
        - name: POSTGRES_DB
          value: chess
        - name: POSTGRES_USER
          value: user
        - name: POSTGRES_PASSWORD
          value: password
        ports:
        - containerPort: 5432
