<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Responsive Chess</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- External Libraries -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chessboardjs@1.0.0/dist/chessboard.min.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Your Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Chess App</h1>
    <div id="board" class="board-container"></div>

    <!-- External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/chess.js@0.10.3/chess.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chessboardjs@1.0.0/dist/chessboard.min.js"></script>

    <!-- Your Custom Script -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
