.board {
  display: inline-block;
  border: 2px solid #333;
}

.rank {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  cursor: pointer;
}

.light {
  background: #f0d9b5;
}

.dark {
  background: #b58863;
}

.selected {
  outline: 3px solid yellow;
}

.piece {
  pointer-events: none;
}
